@import './src/variables';


.settings{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:24px;

  &__field{
    display: flex;
    align-items: center;
  }

  &__only-dangerous{
    width:18px;
    height:18px;
    border-color: rgba(0, 0, 0, 0.87);
  }

  &__label{
    margin-left:10px;
    font-size: 16px;
    line-height: 20px;
  }

  &__change-distance{
    &:not(:last-of-type):after{
      content:', ';
    }
  }

  @media screen and (max-width: $mobile-max-width) {
    flex-direction: column;
    align-items: stretch;
    margin-bottom:16px;

    &__field{
      margin-bottom: 16px;
    }
  }
}