.header{
  border-bottom:1px solid black;
  padding:37px 0 24px 0;
  margin-bottom:16px;


  &__top{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 8px;
  }

  &__title{
    font-size: 36px;
    line-height: 48px;
    font-weight: normal;
  }

  &__subtitle{
    width:414px;
    font-size: 16px;
    line-height: 20px;

  }

  @media screen and (max-width: 920px) {
    padding:8px 0 18px 0;

    &__title{
      font-size: 24px;
      line-height: 48px;
      margin-bottom: 8px;
    }

    &__subtitle{
      width:100%;
      margin-bottom: 19px;
    }

    &__top{
      flex-direction: column;
      align-items: flex-start;
    }
  }

}