@import './src/variables';


* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-weight: normal;
  color:inherit;
}

.page{
  font-family: Helvetica, serif;

  &__inside {
    max-width:960px;
    width:100%;
    padding:0 20px;
    margin:auto;
    display:flex;
    flex-direction: column;
    min-height:100vh;

    @media screen and (max-width: $mobile-max-width) {
      min-width:320px;
      width:100%;
      padding:0 16px;
    }

  }
}

.main{
  flex:1;
}







.btn{
  background: #186DD6;
  border-radius: 24px;
  font-size: 16px;
  line-height: 20px;
  color:white;
  padding:14px 16px;
  font-family: inherit;
  border:0;
  width: 158px;
  text-align:center;
  cursor:pointer;

  &_destroy{
    width:100%;
    margin-top:20px;
  }
}

.link{
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  text-decoration-line: underline;
  color: #000000;
  cursor:pointer;

  &_active{
    font-weight: bold;
    text-decoration: none;
  }
}

