@import './src/variables';


.asteroid{
  width:100%;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-top:16px;
  background: linear-gradient(90deg, #CFF37D 0%, #7DE88C 100%);
  position:relative;
  overflow:hidden;
  display:flex;
  justify-content: space-between;

  &_dangerous{
    background: linear-gradient(90deg, #FFB199 0%, #FF0844 100%);
  }

  &__body{
    z-index:1;
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
    padding:24px 24px 40px 0;
    flex:0 1 573px;
    min-width:495px;
  }

  &:first-of-type{
    margin-top:0;
  }

  &__image-wrap{
    width:330px;
    position:relative;
    min-height:200px;
    flex:0 1 330px;
  }

  &__image{
    position:absolute;
    background-repeat: no-repeat;

    &_dino{
      width: 56px;
      height: 48px;
      left:16px;
      bottom:0;
      background-image:url('../../../icons/dino.svg');
      background-position:50% 50%;
      background-size:contain;
    }

    &_asteroid{
      background-image:url('../../../icons/asteroid.svg');
      background-position: 50% 100%;
      width:100%;
      height:100%;
      bottom: 90px;
      left: 50%;
      transform: translate(-50%);
    }
  }





  &__title{
    margin-bottom:16px;
  }

  &__link{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-decoration: underline;
  }

  &__verdict{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom:8px;
  }

  &__verdict-title{

  }

  &__verdict-status{
    font-weight:bold;
  }

  &__info{
    flex:0 0 289px;
    max-width:100%;
    z-index: 1;
  }

  &__btn-wrap{
    text-align: center;
    padding-left:24px;
  }

  &__btn{
    background: #186DD6;
    border-radius: 24px;
    font-size: 16px;
    line-height: 20px;
    color:white;
    padding:14px 16px;
    font-family: inherit;
    border:0;
    width: 158px;
    text-align:center;
    cursor:pointer;
  }



  @media screen and (max-width: $mobile-max-width) {
    $scale: 0.625;
    height:auto;
    padding-left:0;
    flex-direction: column;
    display: block;

    &__image-wrap{
      height:145px;
      min-height:145px;
      width:100%;
      flex:none;
    }

    &__image{
      &_dino{
        transform:  scale($scale) scaleX(-1) ;
        bottom:0;
        right: 56-8px;
        left:auto;
        transform-origin:bottom right;
      }

      &_asteroid{
        bottom:61px;
        min-width:100% / $scale;
        background-position-x: 24px / $scale ;
        transform-origin:bottom left;
        transform:  scale($scale)  translate(calc(-50%));
      }
    }

    &__body{
      flex-direction: column;
      align-items: stretch;
      padding: 0 16px 24px 16px;
      background:white;
      flex:none;
      min-width:auto;
    }

    &__info{
      margin-top:-40px;
      z-index:1;
      flex:none;
      margin-bottom:16px;
    }

    &__btn-wrap{
      padding-left:0;
    }

    &__title{
      margin-bottom:24px;
    }

  }
}