.attr{
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
  margin-bottom:8px;

  &:last-of-type{
    margin-bottom:0;
  }

  &__name{
    position:relative;
    display:flex;
  }

  &__value{
    position:relative;
    display:flex;
    flex:1;
    font-size: 16px;
    line-height: 24px;

    span{
      white-space: nowrap;

    }

    &:before{
      content:'';
      border-bottom: 1px dotted black;
      width: 100%;
      bottom:7px;
      position:relative;
    }
  }
}